/* ====== media-query ====== */

@media (max-width: 1550px) {
  /* ====== general ====== */

  .purple-shadow {
    -webkit-box-shadow: 0px 10px 0px 0px rgba(219, 208, 231, 1);
    -moz-box-shadow: 0px 10px 0px 0px rgba(219, 208, 231, 1);
    box-shadow: 0px 10px 0px 0px rgba(219, 208, 231, 1);
  }

  .yellow-shadow {
    -webkit-box-shadow: 0px 10px 0px 0px #ffe2a9;
    -moz-box-shadow: 0px 10px 0px 0px #ffe2a9;
    box-shadow: 0px 10px 0px 0px #ffe2a9;
  }

  .green-shadow {
    -webkit-box-shadow: 0px 10px 0px 0px #c4d3b5;
    -moz-box-shadow: 0px 10px 0px 0px #c4d3b5;
    box-shadow: 0px 10px 0px 0px #c4d3b5;
  }

  /* ====== navigation panel ====== */

  .nav-wraper {
    height: 55px;
    padding: 0px 40px;
  }

  .nav__list {
    min-width: 125px;
    padding: 0px 10px;
  }

  .nav__list-el {
    padding: 0px 15px;
  }

  .nav__logo {
    width: 125px;
  }

  .nav__list-el-link {
    font-size: 16px;
  }

  .nav__button {
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 20px;
  }

  /* ====== header ====== */

  .header-wrapper {
    padding: 0px;
  }

  .header__upper-title-str {
    font-size: 52px;
    font-weight: 700;
  }

  .header__upper-title-str:last-child {
    font-size: 24px;
    font-weight: 500;
  }

  .header__lower-banner-text-str {
    font-size: 80px;
    margin-left: 50px;
  }

  .header__lower-banner-text-str:nth-child(2) {
    font-size: 60px;
  }

  .header__lower-banner-text-str:last-child {
    font-size: 35px;
  }

  /* ====== section differ ====== */

  .section-differ__list-card-list-el {
    font-size: 18px;
  }

  .section-differ__list-card-img {
    width: 15vw;
    align-self: flex-end;
  }

  .section-differ__list-card:nth-child(2) > img {
    width: 8vw;
  }

  .section-differ__list-card:nth-child(3) > img {
    width: 8vw;
  }

  .section-differ__list-card:last-child > img {
    width: 6vw;
  }

  /* ====== section supervisor ====== */

  .section__supervisor-content-card-text {
    font-size: 20px;
  }

  /* ====== section feedback ====== */

  .section-feedback-wrapper {
    gap: 25px 0px;
  }

  .section-feedback__card {
    height: 350px;
  }

  .section-feedback__card-left-photo {
    width: 300px;
  }

  .section-feedback__card-left-text {
    font-size: 24px;
  }

  .section-feedback__card-description {
    font-size: 20px;
  }

  /* ====== section course ====== */

  .section-course__list {
    max-width: 1200px;
    min-width: 1100px;
    gap: 30px 10px;
    padding: 0px 20px;
  }

  .section-course__list-card {
    max-width: 550px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px;
    gap: 10px 0px;
    border-radius: 25px;
  }

  .section-course__list-card-header-left-str-title {
    font-size: 40px;
  }

  .section-course__list-card-header-left-str-subtitle {
    font-size: 28px;
  }

  .section-course__list-card-header-left-str-hashtag {
    font-size: 16px;
    padding: 5px 10px;
  }
  .section-course__list-card-header-icon {
    width: 100px;
  }
  .section-course__list-card-description-el {
    font-size: 18px;
  }
  .section-course__list-card-footer-price {
    font-size: 18px;
  }
  .section-course__list-card-footer-price > span {
    font-size: 24px;
  }
  .section-course__list-card-footer-buttons > button {
    font-size: 18px;
    padding: 5px 10px;
  }
  .section-course__list-card-footer-soon > p,
  .section-course__list-card-footer-free > p {
    font-size: 24px;
  }
  .section-course__list-card:nth-child(2)
    > .section-course__list-card-header
    > .section-course__list-card-header-left
    > .section-course__list-card-header-left-str
    > .section-course__list-card-header-left-str-title {
    font-size: 34px;
  }

  #lectory-icon {
    width: 40%;
  }

  #puzzle-icon {
    width: 15%;
  }

  /* ====== section form ====== */

  .section-form__form {
    width: 1000px;
    min-height: 650px;
    border-radius: 45px;
    padding: 5px 40px;
  }
  .section-form__form-right {
    height: 500px;
    width: 500px;
  }
  .section-form__form-left {
    width: 350px;
    height: 500px;
  }
  .section-form__form-left-slider-parent,
  .section-form__form-left-slider-student {
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: 3px solid #663399;
    border-radius: 20px;
  }
  .section-form__form-left-main {
    gap: 10px 0px;
  }
  .section-form__form-left-main-input,
  .section-form__form-left-main-select {
    width: 350px;
    height: 50px;
    border-bottom: 1.5px solid #2d2d2d;
    font-size: 18px;
    padding-left: 15px;
  }
  .section-form__form-right-social-icon {
    margin-left: 25px;
    width: 73px;
  }
  .section-form__form-left-button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
  }
  .section-form__form-left-accept-text {
    font-size: 18px;
    width: 250px;
  }

  .section-form__form-left-accept-text-link {
    font-size: 20px;
    font-weight: 600;
  }

  /* ====================== */

  .footer__block-title {
    font-size: 26px;
  }
  .footer__block-list-el {
    font-size: 14px;
  }
  .footer__block-list-el-link {
    font-size: 18px;
  }

  .footer__block {
    width: 400px;
    height: 200px;
  }

  .footer__block-partner-img {
    width: 125px;
  }
}

@media (max-width: 1280px) {
  /* ====== navigation panel ====== */

  .nav__list {
    width: 55%;
    min-width: 500px;
    padding: 0px 10px;
  }

  /* ====== header ====== */

  .header-wrapper {
    padding: 0px 30px;
  }

  .header__upper-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__upper-title-str {
    line-height: 50px;
  }

  .header__upper-title-str:nth-child(1) {
    font-size: 65px;
  }

  .header__upper-title-mascot {
    display: none;
  }

  .header__upper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
    max-width: 1650px;
    padding: 0px 40px;
  }

  .header__lower-banner-text-str {
    font-size: 70px;
    margin-left: 25px;
  }

  .header__lower-banner-text-str:nth-child(2) {
    font-size: 60px;
  }

  .header__lower-banner-text-str:last-child {
    font-size: 20px;
  }

  /* ====== section differ ====== */

  .section-differ__list {
    flex-wrap: wrap;
    max-width: 1800px;
    padding: 0px 50px;
    gap: 30px;
  }

  .section-differ__list-card {
    flex: 1 0 40%;
  }

  .section-differ__list-card:nth-child(1) > img {
    margin-top: -10px;
  }

  .section-differ__list-card:nth-child(2) > img {
    width: 9vw;
    margin-top: -20px;
  }

  .section-differ__list-card:nth-child(3) > img {
    width: 10vw;
    margin-top: -25px;
  }

  .section-differ__list-card:nth-child(4) > img {
    width: 7.5vw;
    margin-top: -10px;
  }

  /* ====== section supervisor ====== */

  .section__supervisor-content-card-text {
    font-size: 18px;
  }

  .section__supervisor-content-card-logo {
    min-width: 30%;
  }

  .section__supervisor-content-card {
    padding-left: 32px;
  }

  .section__supervisor-title-str {
    font-size: 55px;
  }

  .section__supervisor-title-str:nth-child(2) {
    font-size: 25px;
    letter-spacing: 8px;
  }

  /* ====== section feedback ====== */

  .section-feedback-wrapper {
    max-width: 100%;
    gap: 20px 0px;
  }

  .section-feedback__title {
    font-size: 60px;
    padding: 60px 0px 40px 0px;
  }

  .section-feedback__card {
    max-height: 350px;
    min-height: 300px;
  }

  .section-feedback__card-left {
    justify-content: center;
    gap: 15px 0px;
    min-width: 35%;
  }

  .section-feedback__card-left-photo {
    min-width: 250px;
  }

  .section-feedback__card-left-text {
    font-size: 20px;
  }

  .section-feedback__card-description {
    font-size: 18px;
  }

  /* ====================== */
  .footer__block {
    width: 45%;
    height: 200px;
  }
  .footer__block:nth-child(2) {
    padding: 0px 10px;
  }
}

@media (max-width: 1220px) {
  .section-course__list {
    width: 100%;
    min-width: 50%;
  }
  .section-course__list-card {
    max-width: 100%;
    width: 100%;
    min-width: 600px;
  }
  .section-course__list-card-header,
  .section-course__list-card-description,
  .section-course__list-card-footer {
    width: 100%;
    min-width: 50%;
  }
  #lectory-icon {
    width: 275px;
  }

  #puzzle-icon {
    width: 125px;
  }
}
@media (max-width: 1100px) {
  /* ====== section form ====== */

  .section-form__form-right {
    /* display: none; */
  }
  .section-form__title {
    font-size: 60px;
    padding: 50px;
  }
  .section-form__form {
    width: 550px;
    height: 1000px;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 5px;
  }
  .section-form__form-left {
    width: 500px;
    height: 550px;
  }
  .section-form__form-left-main-input,
  .section-form__form-left-main-select {
    width: 500px;
    height: 60px;
  }
  .section-form__form-left-slider-parent,
  .section-form__form-left-slider-student {
    width: 225px;
    height: 60px;
    border: 3px solid #663399;
  }
  .section-form__form-right {
    background-image: url(../assets/section-form/form-img-crop.png);
    height: 35%;
    width: 90%;
  }
  .section-form__form-right-social-icon {
    /* margin-left: 25px; */
    /* width: 40px; */
  }
  .section-form__form-left-button {
    width: 300px;
    height: 80px;
    font-size: 28px;
  }
}

@media (max-width: 900px) {
  /* ====== composite ====== */

  .header__upper,
  .header__lower,
  .section-differ__list {
    min-width: 700px;
  }

  .section__supervisor-wrapper,
  .section__supervisor-title {
    min-width: 900px;
  }

  /* ====== navigation panel ====== */

  .nav__list {
    display: none;
  }

  /* ====== header ====== */

  .header__upper {
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .header__upper-title {
    display: flex;
  }

  .header__lower-banner-text {
    min-width: 700px;
  }

  .header__lower-banner-text-str:nth-child(1) {
    font-size: 50px;
  }

  .header__lower-banner-text-str:nth-child(2) {
    font-size: 40px;
  }

  .header__lower-banner-text-str:nth-child(3) {
    font-size: 25px;
  }

  .header__lower {
    height: 350px;
  }

  /* ====== section differ ====== */

  .section-differ__list {
    gap: 20px 0px;
    padding: 0px 25px;
  }

  .section-differ__list-card {
    min-height: 125px;
  }

  .section-differ__list-card-list-el {
    font-size: 16px;
  }

  .section-differ__list-card:nth-child(1) > img {
    width: 100px;
  }

  .section-differ__list-card:nth-child(2) > img {
    width: 60px;
  }

  .section-differ__list-card:nth-child(3) > img {
    width: 70px;
  }

  .section-differ__list-card:nth-child(4) > img {
    width: 50px;
  }

  /* ====== section supervisor ====== */

  .section__supervisor-title {
    padding: 40px 10px;
  }

  /* ====== section feedback ====== */

  .section-feedback {
    min-width: 900;
  }

  .section-feedback-wrapper {
    margin: 0 auto;
  }

  .section-feedback__title {
    min-width: 900px;
    margin: 0 auto;
  }

  .section-feedback__card {
    width: 100%;
    min-width: 800px;
  }
  /* ====== section course ====== */
  .section-course {
    overflow: hidden;
  }
  .section-course-wrapper,
  .section-course__list,
  .section-course__title {
    min-width: 700px;
  }

  /* =========== */

  .section-form {
    min-width: 700px;
  }

  .section-form__form {
    min-width: 550px; 
  }
  .section-form__title {
    min-width: 700px;
  }

  /* ========== */

  .footer__block {
    width: 90%;
    /* height: 200px; */
  }
  .footer {
    min-width: 600;
    margin: auto;
  }
  .footer-wrapper {
    flex-direction: column;
    min-width: 600px;
    margin: auto;
  }
  .footer__block:nth-child(2) {
    order: -1;
  }
  .footer__block:nth-child(6) {
    display: none;
  }
  /* .footer__block:nth-child(2) {
    padding: 0px 10px;
  } */
}

/* @media (max-width: 800px) {
  .header__lower {
    display: none;
  }
  .section-differ__list {
    flex-direction: column;
  }
  .section-differ__list-card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
} */
