/* ====== imports ====== */

/* reset defaul styles */
@import "./reset.css";

/* connect google fonts */
@import "./font.css";

/* ====== general ====== */
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #2d2d2d;
  transition: all 0.15s ease;
  scroll-behavior: smooth;

  /* border: 1px solid green; */
  /* transition: 0.1s ease-in-out; */
}

/* временное решение для размера окна < 900px */
body {
  overflow-x: hidden;
}

.purple-shadow {
  -webkit-box-shadow: 0px 15px 0px 0px rgba(219, 208, 231, 1);
  -moz-box-shadow: 0px 15px 0px 0px rgba(219, 208, 231, 1);
  box-shadow: 0px 15px 0px 0px rgba(219, 208, 231, 1);
}

.yellow-shadow {
  -webkit-box-shadow: 0px 15px 0px 0px #ffe2a9;
  -moz-box-shadow: 0px 15px 0px 0px #ffe2a9;
  box-shadow: 0px 15px 0px 0px #ffe2a9;
}

.green-shadow {
  -webkit-box-shadow: 0px 15px 0px 0px #c4d3b5;
  -moz-box-shadow: 0px 15px 0px 0px #c4d3b5;
  box-shadow: 0px 15px 0px 0px #c4d3b5;
}

.nav-links-hover:hover {
  color: #663399;
}

.button-colorful-purple-hover:hover {
  background-color: #4d2770;
  cursor: pointer;
}

.button-colorless-purple-hover:hover {
  background-color: #663399;
  color: #fff;
  cursor: pointer;
}

.underline-hover:hover {
  text-decoration: underline;
}

.scale-hover:hover {
  transform: scale(115%);
  cursor: pointer;
}

.purple-text {
  color: #663399;
  font-weight: 600;
}

.bold-text {
  font-weight: 600;
  color: #557534;
}

/* ====== navigation panel ====== */

.nav {
  border-radius: 0px 0px 50px 50px;
}

.nav-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0px 30px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  min-width: 550px;
  padding: 0px 10px;
}

.nav__list-el {
  padding: 5px;
}

.nav__list-el-link {
  font-size: 20px;
  padding: 10px 0px;
}

.nav__button {
  font-size: 20px;
  color: #fff;
  background-color: #663399;
  padding: 10px 20px;
  border-radius: 30px;
}

/* ====== header ====== */

.header-wrapper {
  padding: 0px 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1650px;
  padding: 0px 40px;
}

.header__upper-title-str {
  font-size: 64px;
  font-weight: 800;
}

.header__upper-title-str:nth-child(2) {
  color: #663399;
}

.header__upper-title-str:last-child {
  font-size: 30px;
  font-weight: 500;
}

.header__upper-title-mascot {
  width: 40%;
  align-self: flex-end;
}

.header__lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  width: 90vw;
  max-height: 550px;
  height: 28vw;
  background-color: #f9f5ff;
  border-radius: 4vw;
  background-image: url(../assets/header/banner-photo.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  margin-bottom: 15px;
}

.header__lower-banner-text-str {
  font-size: 110px;
  font-weight: 900;
  margin-left: 100px;
  color: #663399;
}
.header__lower-banner-text-str:nth-child(2) {
  font-size: 90px;
  color: #2d2d2d;
}
.header__lower-banner-text-str:last-child {
  font-size: 50px;
  font-weight: 800;
  color: #2d2d2d;
}

/* ====== section differ ====== */

.section-differ {
  overflow: hidden;
}
.section-differ__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  padding: 0px 25px;
  margin: 40px auto;
}

.section-differ__list-card {
  width: 550px;
  height: 13vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  border: 0.5px #dbd0e7 solid;
  border-radius: 20px;
  margin: 0px 10px;
}

.section-differ__list-card-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.section-differ__list-card-list-el {
  font-size: 24px;
}

.section-differ__list-card-img {
  width: 12vw;
  align-self: flex-end;
}

.section-differ__list-card:nth-child(2) > img {
  width: 8vw;
  margin-bottom: -10px;
}

.section-differ__list-card:nth-child(3) > img {
  width: 8vw;
}

.section-differ__list-card:last-child > img {
  width: 6vw;
}

/* ====== section supervisor ====== */

.section__supervisor {
  background-color: #ecf2e6;
  min-height: 100%;
  margin-top: 150px;
  padding-bottom: 150px;
  overflow: hidden;
}

.section__supervisor-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
}

.section__supervisor-title-str {
  font-size: 80px;
  font-weight: 600;
  color: #a9c58c;
}

.section__supervisor-title-str:nth-child(2) {
  font-size: 40px;
  letter-spacing: 10px;
  color: #2d2d2d;
}

.section__supervisor-wrapper {
  max-width: 1700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0px 20px;
}

.section__supervisor-content {
  min-height: 700px;
  height: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px 5px;
}

.section__supervisor-content-card {
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
  padding-right: 10px;
  background-color: #fff;
  border-radius: 20px;
}

.section__supervisor-content-card:nth-child(1) {
  max-width: 750px;
  min-width: 25%;
}

.section__supervisor-content-card:nth-child(2) {
  max-width: 970px;
}

.section__supervisor-content-card:nth-child(3) {
  max-width: 700px;
}

.section__supervisor-content-card:nth-child(4) {
  max-width: 850px;
}

.section__supervisor-content-card:nth-child(5) {
  max-width: 100%;
}

.section__supervisor-content-card-text {
  font-size: 24px;
  padding: 10px 5px;
}

.section__supervisor-content-card-logo {
  margin-left: 10px;
  width: 100%;
  min-width: 25%;
}

.section__supervisor-content-card:nth-child(1) > img {
  width: 45%;
}

.section__supervisor-content-card:nth-child(2) > img {
  width: 20vw;
}

.section__supervisor-content-card:nth-child(3) > img {
  width: 20vw;

  border-radius: 30px;
}

.section__supervisor-content-card:nth-child(4) > img {
  width: 30vw;
}

.section__supervisor-books {
  width: 100%;
  min-width: 45%;
}

/* ====== section feedback ====== */

.section-feedback {
  background-color: #fff8ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  overflow: hidden;
}

.section-feedback-wrapper {
  max-width: 1600px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 80px 0px;
}

.section-feedback__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 440px;
  width: 100%;
  gap: 0px 30px;
}

.section-feedback__card:nth-child(2n) {
  flex-direction: row-reverse;
}

.section-feedback__card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-width: 30%;
  height: 100%;
}

.section-feedback__card-left-text {
  font-size: 28px;
  font-weight: 700;
}

.section-feedback__card-description-wrapper {
  max-width: 700px;
  align-self: flex-start;
  border-radius: 50px;
  background-color: #fff;
}

.section-feedback__card-description {
  font-size: 24px;
  padding: 40px 30px;
}

.section-feedback__title {
  font-size: 80px;
  color: #ffe2a9;
  padding: 60px 0px 100px 0px;
}

/* ====== section course ====== */

.section-course {
  background-color: #f0ebf5;
  padding: 100px 20px;
}

.section-course-wrapper {
  width: 100%;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-course__title {
  font-size: 70px;
  color: #ab8ec6;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 75px;
}

.section-course__list {
  /* margin: 0 auto; */
  max-width: 1500px;
  min-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 20px;
  padding: 0px 20px;
}

.section-course__list-card {
  max-width: 700px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  gap: 15px 0px;
  border-radius: 30px;
  background-color: #fff;
}

.section-course__list-card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-course__list-card-header-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.section-course__list-card-header-left-str {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.section-course__list-card-header-left-str-title {
  font-size: 64px;
  font-weight: 700;
  color: #663399;
}

.section-course__list-card:nth-child(3)
  > .section-course__list-card-header
  > .section-course__list-card-header-left
  > .section-course__list-card-header-left-str
  > .section-course__list-card-header-left-str-title {
  font-size: 50px;
}

.section-course__list-card-header-left-str-subtitle {
  font-size: 40px;
  font-weight: 600;
  color: #663399;
}

.section-course__list-card-header-left-str-hashtag {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #ece7f8;
  border-radius: 20px;
  margin-left: 20px;
}

.section-course__list-card-header-icon {
  width: 150px;
}

.section-course__list-card-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.section-course__list-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-course__list-card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px 0px;
}

.section-course__list-card-description-el {
  font-size: 24px;
  font-weight: 400;
}

.section-course__list-card-description-el > span {
  font-weight: 600;
  padding-right: 10px;
}

.section-course__list-card-footer-price {
  font-size: 20px;
  font-weight: 600;
}

.section-course__list-card-footer-price > span {
  font-size: 40px;
  font-weight: 700;
  margin: 0px 5px;
}

.section-course__list-card-footer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
}

.section-course__list-card-footer-buttons > button {
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 25px;
}

.section-course__list-card-footer-buttons-more {
  background-color: #fff;
  border: 4px solid #663399;
}

.section-course__list-card-footer-buttons-enroll {
  color: #fff;
  font-weight: 600;
  background-color: #663399;
  border: 4px solid #663399;
}

.section-course__list-card:nth-child(2)
  > .section-course__list-card-header
  > .section-course__list-card-header-left
  > .section-course__list-card-header-left-str
  > .section-course__list-card-header-left-str-title {
  font-size: 54px;
}

.section-course__list-card-footer-soon > p,
.section-course__list-card-footer-free > p {
  font-size: 40px;
  font-weight: 600;
  color: #808080;
}

.section-course__list-card-footer-free > p {
  font-size: 32px;
  color: #2d2d2d;
}

#lectory-icon {
  width: 50%;
}

#puzzle-icon {
  width: 20%;
}

#green-button-more {
  border: 4px solid #a9c58c;
}

#green-button-more:hover {
  background-color: #a9c58c;
  color: #fff;
  cursor: pointer;
}

#green-button-enroll {
  background-color: #9fc478;
  border: 4px solid #9fc478;
}

#green-button-enroll:hover {
  background-color: #759158;
  cursor: pointer;
}

/* ====== section form ====== */

.section-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.section-form__title {
  font-size: 80px;
  color: #ab8ec6;
  padding: 100px;
  text-align: center;
}
.section-form__form {
  width: 1280px;
  min-height: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  border-radius: 60px;
  border: 1px solid #cbbeda;
}

.section-form__form-right {
  height: 650px;
  width: 650px;
  background-image: url(../assets/section-form/form-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
}

.section-form__form-right-social-icon {
  height: 50px;
}

.section-form__form-right-social-icon {
  margin-left: 30px;
}

.section-form__form-right-social-icon:nth-child(1) {
  margin-left: 0px;
}

.section-form__form-left {
  width: 450px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-form__form-left-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section-form__form-left-slider-parent,
.section-form__form-left-slider-student {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 200px;
  height: 60px;
  background-color: #fff;
  border: 4px solid #663399;
  border-radius: 30px;
}

.section-form__form-left-slider-parent:focus,
.section-form__form-left-slider-student:focus {
  background-color: #663399;
  color: #fff;
}

.section-form__form-left-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px 0px;
}

.section-form__form-left-accept {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px 30px;
}

.section-form__form-left-main-input::placeholder {
  opacity: 40%;
}

.section-form__form-left-main-input,
.section-form__form-left-main-select {
  width: 450px;
  height: 60px;
  border-bottom: 2px solid #2d2d2d;
  font-size: 20px;
  padding-left: 15px;
}

.section-form__form-left-main-select:hover {
  cursor: pointer;
}

.section-form__form-left-main-select {
  background-image: url(../assets/section-form/select-arrow-icon.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.section-form__form-left-button {
  text-align: center;
  width: 250px;
  height: 75px;
  background-color: #663399;
  color: #fff;
  font-size: 24px;
  border-radius: 40px;
}

.section-form__form-left-accept-text {
  font-size: 20px;
  width: 275px;
  /* margin: auto; */
  /* margin-left: 20px; */
}

.section-form__form-left-accept-text-link {
  font-size: 22px;
  font-weight: 600;
  color: #663399;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.checkbox-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  /* margin-right: 10px; */
  border: 3px solid #663399;
  border-radius: 6px;
  background: #fff;
  transition: 0.3s;
}

.checkbox-icon {
  opacity: 0;
  transition: 0.3s;
}

.checkbox:checked + .checkbox-view {
  background-color: #663399;
}

.checkbox:checked + .checkbox-view .checkbox-icon {
  opacity: 1;
}

/* ============== */

.footer {
  min-height: 835px;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(../assets/footer/puzzle-texture.svg);
  background-size: 175%;
  background-repeat: repeat;
  background-position: 60% 50%; */
  /* transform: rotate(30%); */
}

.footer-wrapper {
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 75px 20px;
  padding: 125px 0px;
}

.footer__block {
  width: 425px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.footer__block-title {
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
}

.footer__block-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 7.5px 0px;
}

.footer__block-list-el {
  color: #b6b6b6;
}

.footer__block-list-el-link {
  color: #b6b6b6;
  font-size: 20px;
}
