@media (max-device-width: 900px) {
  .purple-shadow {
    -webkit-box-shadow: 0vw 2.5vw 0vw 0vw rgba(219, 208, 231, 1);
    -moz-box-shadow: 0vw 2.5vw 0vw 0vw rgba(219, 208, 231, 1);
    box-shadow: 0vw 2.5vw 0pvw 0vw rgba(219, 208, 231, 1);
  }
  .yellow-shadow {
    -webkit-box-shadow: 0px 2.5vw 0px 0px #ffe2a9;
    -moz-box-shadow: 0px 2.5vw 0px 0px #ffe2a9;
    box-shadow: 0px 2.5vw 0px 0px #ffe2a9;
  }
  .green-shadow {
    -webkit-box-shadow: 0px 2.5vw 0px 0px #c4d3b5;
    -moz-box-shadow: 0px 2.5vw 0px 0px #c4d3b5;
    box-shadow: 0px 2.5vw 0px 0px #c4d3b5;
  }
}
