@media (max-width: 1550px) {
  .header-wrapper {
    padding: 0px;
  }
  .header__upper {
    height: 200px;
  }
  .header__upper-title-str {
    font-size: 52px;
    font-weight: 700;
  }
  .header__upper-title-str:last-child {
    font-size: 24px;
    font-weight: 500;
  }
  .header__lower-banner-text-str {
    font-size: 80px;
    margin-left: 50px;
  }
  .header__lower-banner-text-str:nth-child(2) {
    font-size: 60px;
  }
  .header__lower-banner-text-str:last-child {
    font-size: 35px;
  }
}

/* ============================== */

@media (max-width: 1280px) {
  .header-wrapper {
    padding: 0px 30px;
  }
  .header__upper-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__upper-title-str {
    line-height: 50px;
  }
  .header__upper-title-str:nth-child(1) {
    font-size: 65px;
  }
  .header__upper-title-mascot {
    display: none;
  }
  .header__upper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* margin-top: 40px; */
    /* margin-bottom: 30px; */
    max-width: 1650px;
    padding: 0px 40px;
  }
  .header__lower-banner-text-str {
    font-size: 70px;
    margin-left: 25px;
  }
  .header__lower-banner-text-str:nth-child(2) {
    font-size: 60px;
  }
  .header__lower-banner-text-str:last-child {
    font-size: 20px;
  }
}

/* ============================== */

@media (max-width: 900px) {
  .header__upper,
  .header__lower,
  .section-differ__list {
    min-width: 700px;
  }
  .header__upper {
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .header__upper-title {
    display: flex;
  }
  .header__lower-banner-text {
    min-width: 700px;
  }
  .header__lower-banner-text-str:nth-child(1) {
    font-size: 50px;
  }
  .header__lower-banner-text-str:nth-child(2) {
    font-size: 40px;
  }
  .header__lower-banner-text-str:nth-child(3) {
    font-size: 25px;
  }
  .header__lower {
    height: 350px;
  }
}
