@media (max-device-width: 900px) {
  .section__supervisor {
    width: 100%;
    min-height: 100%;
    margin-top: 8vw;
    padding-bottom: 20vw;
  }
  .section__supervisor-title {
    width: 100%;
    min-width: 100%;
    padding: 10vw 5vw;
  }
  .section__supervisor-title-str {
    font-size: 10vw;
    text-align: center;
  }
  .section__supervisor-title-str:nth-child(2) {
    font-size: 4vw;
    margin-top: 4vw;
    letter-spacing: 1.75vw;
  }
  .section__supervisor-books {
    display: none;
  }
  .section__supervisor-wrapper {
    width: 100%;
    min-width: 100%;
    padding: 0;
  }
  .section__supervisor-content {
    width: 90%;
    min-width: 90%;
    min-height: 100%;
    gap: 2vw;
    margin-right: 0;
  }
  .section__supervisor-content-card {
    width: 100%;
    min-height: 100%;
    padding-left: 4vw;
    border-radius: 3vw;
    padding-right: 2vw;
  }
  .section__supervisor-content-card-logo {
    min-width: 30vw;
    margin-left: 2vw;
  }
  .section__supervisor-content-card-text {
    font-size: 3vw;
    padding: 2vw 1vw;
  }
}
